          /* Setup */

*{
  box-sizing: border-box;
  outline: none;
}

::selection {
  background: #0002;
}

body{
  --bg: #a2cec8;
  background: var(--bg);
  --color: #000c;
  color: var(--color);
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

          /* Body */

main {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
  margin: 1rem;
  gap: 1rem ;
  background: #fffe;
  box-shadow: #0002 0 0 1rem;
  border-radius: .125rem;
  width: min(100%, 25rem);
}

h1 {
  color: var(--color);
  font-size: 1.5rem;
  text-align: center;
  margin-top: 0%;
}

label:first-of-type {

}

textarea {
  resize: none;
  min-height: 10rem;
  padding: .6rem;
  border: 1px solid #0005;
  color: var(--color);
  background: #0000;
  border-radius: .125rem;
}

label:last-of-type {
  display: none;
}

select {
  padding: .6rem .4rem;
  border: 1px solid #0005;
  color: var(--color);
  background: #0000;
  border-radius: .125rem;
  display: none;
}
option {
  padding: .6rem .4rem;
  background: #0000;
  display: none;
}


button {
  background: var(--bg);
  border: 1px;
  align-self: center;
  padding: .5rem .5rem .2rem;
  border-radius: .125rem;
  opacity: .4;
  transition: all .2s ease;
}

:has(textarea:valid) button {
  opacity: .75;
}

button > svg {
  color: #fff !important;
}
          /* Responsive */

@media screen and (hover: hover) {
  select, option, label:last-of-type {
    display: unset;
  }
}

@media screen and (min-width:calc(1920px * calc(1 + 1/2) - 100px)) {
  html{
    font-size: calc(16px * calc(1 + 1/2));
  }
}

@media screen and (min-width:calc(1920px * calc(1 + 1/3) - 200px)) {
  html{
    font-size: calc(16px * calc(1 + 1/3));
  }
}

@media screen and (min-width:calc(1920px * calc(1 + 1/1) - 300px)) {
  html{
    font-size: calc(16px * calc(1 + 1/1));
  }
}

@media screen and (min-width:calc(1920px * calc(1 + 2/1) - 400px)) {
  html{
    font-size: calc(16px * calc(1 + 2/1));
  }
}

@media screen and (min-width:calc(1920px * calc(1 + 3/1) - 500px)) {
  html{
    font-size: calc(16px * calc(1 + 3/1));
  }
}

          /* Custom-Scrollbar */

/* width */
::-webkit-scrollbar {
  width: .625rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0001;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bg);
  opacity: .8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--bg);
  opacity: 1;
}